<div class="credentials_container">
  <div *ngIf="!isLoggedIn; else logout">
    <div>
      <input type="text" [(ngModel)]="userNameText" [placeholder]="placeholder"/>
    </div>
    <div>
      <input type="password" [(ngModel)]='password'/>
    </div>
    <div>
      <button class="btnClass" [disabled]="userNameText === ''||password ===''"
              (click)="onLoginClick('Pavan')">{{ buttonName }}
      </button>
    </div>
    <div>
    <a href="forgotpassword">Forgot Password</a>
    </div>
  </div>
</div>

<ng-template #logout>
  <div>
    <div>
      <button class="btnClass" (click)="onLogoutClick('Pavan')">{{ buttonName }}</button>
    </div>
  </div>
</ng-template>

