<div class="credentials_container">
    <div>
        <div>
            <input type="text" [(ngModel)]="userNameText" [placeholder]="placeholder"/>
        </div>
        <div>
            Password: <input type="password" [(ngModel)]='password'/>
        </div>
        <div>
            Re-enter Password: <input type="password" [(ngModel)]='reenterPassword'/>
        </div>
        <div>
            <button class="btnClass" [disabled]="userNameText === ''||password ===''"
                    (click)="onSignupClick('Pavan')">{{ buttonName }}
            </button>
        </div>
    </div>
</div>
